@charset "UTF-8";

body {
    font-family: arial;
}

table {
    width: 500px;
    border-collapse: collapse;
}

caption {
    font-size: 1.3em;
    font-weight: bolder;
    padding: 8px;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

/*col.cnome {
    background-color: chartreuse;
}*/

/*col.cgrupo {
    background-color: aqua;
}*/

.verde {
    background-color: chartreuse;
}

.aqua {
    background-color: aqua;
}