@charset "UTF-8";

div.conteiner {
    background-color: lightsalmon;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

div.item {
    background-color: lightskyblue;
    border: 1px solid black;
    text-align: center;
}